body {
  background-image: url("./background-images/back-ground.jpg");
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formSection {
    display: flex;
    margin-top: 5rem;
    background-color: whitesmoke;
    max-width: 30rem;
    min-height: 7rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}
.formSection input{
    background-color: white;
    margin: 1rem;
}

.formSection button{
    margin: 1rem;
}

.resultSection {
    display: flex;
    margin-top: 2rem;
    background-color: whitesmoke;
    max-width: 30rem;
    min-height: 10rem;
    flex-direction: column;
    border-radius: 1rem;

}




#root {
    height: 100vh;
}